.card-group {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
}

.card {
    position: relative;
    display: inline-block;
    margin: 1em;
    min-width: 200px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 6px;
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: solid black 1px;
}
.card.with-cover {
    width: 350px;
    height: 400px;
}
@media screen and (max-width: 375px){
    .card.with-cover {
        width: 90%;
        height: 100%;
        max-width: 350px;
        max-height: 400px;
    }
}

.card::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card.raise:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    border: hidden;
}

.card:hover::after {
    opacity: 1;
}

.card .cover {
    z-index: -1000;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    max-width: 350px;
    height: 200px;
}
.acadsys {
    background: url("../assets/personal/acadsys.png") center/cover no-repeat;
}
.camasys {
    background: url("../assets/personal/camasys.png") center/cover no-repeat;
}
.rentalport {
    background: url("../assets/personal/rentalport.png") center/cover no-repeat;
}
.cybik {
    background: url("../assets/personal/cybik.png") center/cover no-repeat;
}

.card .title {
    font-family: "Chalkduster", fantasy;
    font-size: 20px;
    padding: .5em .5em 0 .5em;
    margin: 0;
    text-align: left;
}

.card .subtitle {
    font-family: "Arial Narrow", sans-serif;
    font-size: 15px;
    color: #808080;
    padding: .5em .5em 0 1em;
    margin: 0;
    text-align: left;
}

.card .content {
    font-size: 14px;
    padding: 1em;
    margin: 0;
    text-align: left;
    min-height: 100px;
}

.card .actions {
    position: absolute;
    margin: 0;
    padding: 1em 1em;
    border-top: solid darkgrey 1px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
}
