.list {
    border: white;
    max-width: 300px;
}
@media screen and (max-width: 375px){
    .list {
        width: 90%;
        height: 100%;
        max-width: 350px;
    }
}
.list-title {
    font-family: 'Chalkduster', fantasy;
    text-align: left;
    padding: 1em 1em 0 1em;
    margin: 0;
}
.list-item {
    padding: .5em 0;
    display: grid;
    /*border: solid blue 1px;*/
}
.list-item {
    border-bottom: solid black 1px;
}
.list-item:last-child {
    border-bottom: none;
}

.list-item .row-indent {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    margin: auto 1em auto 0;
    padding: .5em;
    width: 20px;
    /*background-color: greenyellow;*/
    height: 100%;
    max-height: 25px;
}
.list-item .first-row {
    grid-row: 1;
    grid-column: 3/4;
    margin: auto;
    position: relative;
    width: 220px;
    text-align: left;
    align-self: start;
    padding: 0;
    /*background-color: yellow;*/
}
.list-item .second-row {
    color: grey;
    grid-row: 2;
    grid-column: 3/4;
    margin: 0;
    /*width: 100%;*/
    text-indent: 15px;
    text-align: left;
    padding: 0;
    /*background-color: red;*/
}
