body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Roboto Thin", sans-serif;
    font-size: 15px;
}

h1 {
    font-family: 'Chalkduster', fantasy;
    font-size: 35px;
}

.with-background {
    margin: auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #fafad2, #ffa072, #f08080, #add8e6);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
}

#main {
    width: 100%;
}

#main .portrait {
    margin: 0 auto;
    color: white;
    text-align: center;
    justify-content: center;
}

#portrait .face {
    max-width: 250px;
    border-radius: 15%;
    padding: 1em;
}
@media screen and (max-width: 450px), (max-height: 415px) and (max-height: 900px){
    #portrait .face {
        max-width: 150px;
    }
}

.portrait .social a {
    margin: .5em;
}

.footer {
    background: black;
    color: white;
    padding: 0 1em 3em 1em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#experience {
    max-width: 1200px;
}


/***********/
/* SECTION */
/***********/
section {
    margin: 2em auto;
    max-width: 800px;
    width: 90%;
}
.section-title {
    position: relative;
    padding: 3em 0 .5em 0;
    width: 100%;
    margin: 0 auto;
    /*border: solid red 1px;*/
    text-align: center;
    font-family: "Arial Narrow", sans-serif;
}
.section-subtitle {
    width: 100%;
    padding: 1em 0;
    margin: 0 auto;
    text-align: center;
}
.section-content {
    position: relative;
    padding: .5em 0;
    width: 100%;
    text-align: center;
    /*border: solid blue 1px;*/
}


/*********/
/* OTHER */
/*********/
.border {
    border: solid red 1px;
}
.hide {
    display: none;
}
.center {
    text-align: center;
    margin: 0 auto;
}
.inverted {
    color: white;
}
.paragraph {
    text-align: justify;
    text-indent: 45px;
}
.chalk {
    font-family: Chalkduster, fantasy;
}
