#timeline,
#timeline *::before,
#timeline *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#timeline {
    color: #fff;
    margin: 2em auto;
    max-width: 800px;
    width: 90%;
}

#timeline ul li .timeline-card h2 {
    text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
}

#timeline ul {
    padding: 50px 0;
}
#timeline ul li {
    background: #67CC8E;
    position: relative;
    margin: 0 auto;
    width: 5px;
    padding-bottom: 40px;
    list-style-type: none;
}
#timeline ul li:last-child {
    padding-bottom: 7px;
}
#timeline ul li:before {
    content: '';
    background: #faf8eb;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 3px solid #67CC8E;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#timeline ul li .hidden {
    opacity: 0;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#timeline ul li .timeline-card {
    background: #67CC8E;
    position: relative;
    top: 7px;
    width: 450px;
    padding: 2em 1.3em;
    transition: all 1s ease;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#timeline ul li:nth-child(even) .timeline-card {
    border-top-left-radius: 15px;
}
#timeline ul li:nth-child(odd) .timeline-card {
    border-top-right-radius: 15px;
}
#timeline ul li .timeline-card h2 {
    color: #fff;
    font-family: Chalkduster, fantasy;
    text-align: center;
    margin: 0 auto .3em auto;

    /*border: solid red 1px;*/
}
#timeline ul li .timeline-card h5 {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    /*border: solid red 1px;*/
}
#timeline ul li .timeline-card p {
    text-align: center;
    margin: 2em auto 0 auto;
    /*border: solid red 1px;*/
}
#timeline ul li .timeline-card:before {
    content: '';
    background: #67CC8E;
    position: absolute;
    top: 0px;
    width: 38px;
    height: 5px;
}
#timeline ul li:nth-child(odd) .timeline-card {
    left: 45px;
    background: #67CC8E;
    background: -webkit-linear-gradient(-45deg, #56BC83, #67CC8E);
    background: linear-gradient(-45deg, #56BC83, #67CC8E);
}
#timeline ul li:nth-child(odd) .timeline-card:before {
    left: -35px;
}
#timeline ul li:nth-child(even) .timeline-card {
    left: calc(-450px - 80px);
    background: #67CC8E;
    background: -webkit-linear-gradient(45deg, #56BC83, #67CC8E);
    background: linear-gradient(45deg, #56BC83, #67CC8E);
}
#timeline ul li:nth-child(even) .timeline-card:before {
    right: -33px;
}

@media screen and (max-width: 1075px) {
    #timeline ul li .timeline-card {
        width: 38vw;
    }

    #timeline ul li:nth-child(even) .timeline-card {
        /*left: calc(-41vw - 70px);*/
    }
}
@media screen and (max-width: 700px) {
    #timeline ul li {
        margin-left: 20px;
    }
    #timeline ul li .timeline-card {
        width: calc(85vw - 100px);
    }
    #timeline ul li .timeline-card p,
    #timeline ul li .timeline-card h5,
    #timeline ul li .timeline-card h2 {
        text-align: left;
        /*text-align: initial;*/
    }
    #timeline ul li:nth-child(even) .timeline-card {
        left: 45px;
        background: #67CC8E;
        background: -webkit-linear-gradient(-45deg, #56BC83, #67CC8E);
        background: linear-gradient(-45deg, #56BC83, #67CC8E);
        border-top-left-radius: 0;
        border-top-right-radius: 15px;
    }
    #timeline ul li:nth-child(even) .timeline-card:before {
        left: -33px;
    }
}
